# https://pypi.org/search/
# azure-cli==2.65.0 # depends on PyGithub~=1.38
boto3==1.35.54
cloudflare==3.1.0
matplotlib==3.9.2
prettytable==3.11.0
PyGithub==2.4.0
python-hcl2==5.1.1
pyyaml==6.0.2
requests==2.32.3
slack_sdk==3.33.3
setuptools==75.5.0
virtualenv==20.27.1
wheel==0.45.0
xlsxwriter==3.2.0
anyio>=4.4.0 # not directly required, pinned to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned to avoid a vulnerability
